@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin hover($index, $cursor) {
  display: flex;
  z-index: $index;
  cursor: $cursor;
}

@mixin default-font {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 200;
}