@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin hover($index, $cursor) {
  display: flex;
  z-index: $index;
  cursor: $cursor;
}

@mixin footer-nav{
  background: $footer-nav-background;
  font-family: $footer-nav-font;
  }