

.header{
    .header-container{
        .object-pic{
            width: 100%;
            height: 100%;
        background-image: url(./../images/albins-bild.jpg);
        background-size: cover;
        background-position: bottom;
        position: absolute;
        z-index: 0;
        }
        
    }
}

