

.header{
    .header-container{
        .object-pic{
            width: 100%;
            height: 100%;
        background-image: url(./../images/albins-bild.jpg);
        background-size: cover;
        background-position: bottom;
        position: absolute;
        z-index: 0;
        }
        
    }
}

.object-main{
    height: 100%;
    @include flex(column,center,center);
    .object-article-container{
        @include flex(column,center,center);
        width: 95%;

        .object-card{
            width: 100%;
            height: 350px;
            border: 1px solid black;
            border-radius: 10px;
            margin:15px 0;
            position: relative;
            @include flex(column,center,flex-start); 
            .object-img{
                @include flex(column,center,flex-start); 
                flex: 2;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 10px 10px 0 0;
                img{
                    width: 100%;

                    
                }
            }
            .object-info{
                flex:1;
                @include flex(column,space-between,flex-start); 
                padding: 5px 20px 20px 20px;
                height: 50%;
                width:80%;
            }
            .details{
                width: 100%;
                @include flex(row,space-between,center); 

            }
        }
    }
}