body{
    height: 100%;
}
.header {
    .main-heading{
        position: absolute;
    }
    .header-container {
    .reference-img {
        width: 100%;
        height: 100%;
        background-image: url(./../images/123456.jpeg);
        background-size: cover;
        background-position: center;
        z-index: 0;
        @include flex(row, center, center);
    }
    }
}

main {
    @include flex(row, center, center);
    .ref-main{
        @include flex(column,center,center);
        height: 100%;
        .ref-estate {
            @include flex(column, center, center);
            
            .ref-wrap {
                @include flex(row, space-around, center);
                flex-wrap: wrap;
                margin: 2%;
            }
            .ref-object {
                @include flex(column,center,flex-start);
                height: 350px;
                width: 100%;
                background: white;
                margin:15px 0;
                border: 1px solid black;
                position: relative;
                transition: all .5s ease;
                overflow: hidden;
                box-shadow: $shadow;
                &:hover {
                    transform: scale(103%);
                }
                .ref-info-hover {
                    @include flex(column,center,flex-start);
                    height: 100%;
                    width: 100%;
                    visibility: hidden;
                    background: black;
                    opacity: 0.85;
                    color: white;
                    position: absolute;
                    align-items: center;
                    text-align: center;
                    padding: 15%;
                    font-size: 1.20rem;
                }
                &:hover {
                    .ref-info-hover {
                        @include hover(2, pointer);
                        visibility: visible;
                    }
                }
                .ref-pic{
                    @include flex(column,center,flex-start); 
                    width: 100%;
                    height: 100%;
                    flex: 2;
                    position: relative;
                    overflow: hidden;
                }
                img {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
                .ref-text-containter {
                    @include flex(column,center,center); 
                    flex-wrap: wrap;
                    height: 50%;
                    width:95%;
                    flex:1;
                    padding: 5px 20px 20px 5px;
                    text-align: center;
                    
                    
                    .ref-object-title {
                        padding-left: 10%;
                        padding-right: 10%;
                        font-size: 1.00rem;
                        &:hover {
                            transform: scale(103%);
                        }
                        
                    }
                    .ref-object-type {
                        font-size: 0.90rem;
                    }
                    .ref-rating {
                        @include flex(row,center,center);
                    }
                }
                }
            }
        }
        }
        
@media screen and (min-width:600px){

main{
    .ref-main {
        @include flex(row,space-around,center);
        flex-wrap: wrap;
        .ref-estate{

            .ref-object {
        height: 50vh;
        width: 40%;
    }
    }
    }
}
}
