.header {
  .header-container {
    .back-img {
      background-image: url(./../images/5733853.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }
}
