.header {
  .header-container {
    .back-img {
      @include flex(column, center, center);
      width: 100%;
      height: 100%;
      background-image: url(./../images/5733853.jpg);
      background-size: cover;
      background-position: center;
      z-index: 0;
    }
  }
}

main {
  @include flex(row, center, center);
  .rolls {
    font-size: 70%;
  }
}
