.header {
  .header-container {
    .back-img {
      width: 100%;
      height: 100%;
      background-image: url(./../images/5733853.jpg);
      background-size: cover;
      background-position: bottom;
      position: absolute;
      z-index: 0;
    }
  }
}
