$hover-color: rgb(158, 156, 156);

$large:1007px;

$shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$footer-nav-background: rgb(230, 228, 228);

$body-background: linear-gradient(156deg,rgba(252, 213, 142, 0.253), #95afb194, rgba(252, 213, 142, 0.253));

$on-site-color: rgba(133, 133, 133, 0.856);

$media-icon-color: rgb(84, 86, 87);

$footer-nav-font: sans-serif, Arial, Helvetica;