/* BRÖDTEXT:  font-family: 'Poppins', sans-serif;
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
*/
@import "./variabler";
@import "./mixins";
@import "./objects";
@import "./style-om-oss";
@import "./start";
@import "./referenser";
@import "./kontakt";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50vh;

  .header-container {
    height: 100%;
    @include flex(column, center, center);
    position: relative;
    .dark-opacity {
      height: 100%;
      width: 100%;
      background: rgba(99, 75, 75, 0.329);
      position: absolute;
      z-index: 1;
    }
    .main-heading {
      color: white;
      z-index: 2;
    }
  }
  .main-heading {
    color: white;
    z-index: 1;
  }
}

*{
  box-sizing: border-box;
}


main{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    
    
    input, select, textarea{
      font-size: 16px;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid rgb(109, 104, 104);
      margin: 3px 0 10px 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
    }
    input:focus-visible{
      
      border: 5px solid black;
      
    }
   #checkbox{
     margin:auto;
   }
 
    #form-submit-button{
      width: 40%;
      margin: auto;
      padding: 12px 0px;
      font-size: 18px;
      border:1px solid rgb(109, 104, 104);;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}    
    

.footer {
  .footer-container{
    width:100%;
    @include flex(row, space-around, center);
  }
  width: 100%;
  height: 30vh;
  background: rgb(165, 165, 165);
  position: relative;
  bottom: 0;
  @include flex(row, space-around, center);
  .social-media {
    width: 20%;
    height: 20%;
    @include flex(row, space-around, center);
    width: 25%;

    .box1,
    .box2,
    .box3 {
      width: 30px;
      height: 30px;
      background: black;
    }
  }

  .footer-nav {
    @include flex(column, space-around, center);
    height: 80%;
    ul {
      height: 100%;
      @include flex(column, space-around, center);

      li {
        list-style-type: none;
      }
    }
  }
}
