/* BRÖDTEXT:  font-family: 'Poppins', sans-serif;
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
*/
@import "./variabler";
@import "./mixins";
@import "./objects";
@import "./style-om-oss";
@import "./start";
@import "./referenser";
@import "./kontakt";
@import "./media600px";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.subTitle, .title {
  @include default-font
}

.header {
  width: 100%;
  height: 50vh;

  .header-container {
    height: 100%;
    @include flex(column, center, center);
    position: relative;
    .dark-opacity {
      height: 100%;
      width: 100%;
      background: rgba(99, 75, 75, 0.329);
      position: absolute;
      z-index: 1;
    }
    .main-heading {
      color: white;
      z-index: 2;
      color: white;
      font-family: "Open Sans", sans-serif, Arial, Helvetica;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-weight: 200;
    }
    .hamburger-container {
      @include flex(column, center, center);
      width: 30px;
      height: 40px;
      margin: 15px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9999;

      .line1 {
        width: 100%;
        height: 3px;
        background: rgb(255, 255, 255);
        transition: all 0.5s ease;
        border-radius: 20px;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background: rgb(255, 255, 255);
          transition: all 0.5s ease;
          border-radius: 20px;
        }
        &::before {
          top: 25%;
        }
        &::after {
          bottom: 25%;
        }
      }
      &.activeBtn {
        z-index: 9999;

        .line1 {
          background: transparent;
          &::before {
            transform: translateY(8.5px) rotate(45deg);
            background: black;
          }

          &::after {
            transform: translateY(-8.5px) rotate(-45deg);
            background: black;
          }
        }
      }
      &::after {
        bottom: 25%;
      }
    }
    &.activeBtn {
      z-index: 9999;

      .line1 {
        background: transparent;
        &::before {
          transform: translateY(8.5px) rotate(45deg);
        }

        &::after {
          transform: translateY(-8.5px) rotate(-45deg);
        }
      }
    }
  }
}

.nav-box {
  @include flex(column, center, flex-start);
  position: fixed;
  background: rgb(255, 255, 255);
  inset: 0 0 0 40%;
  transform: translateX(100%);
  transition: all 0.5s ease;
  z-index: 5;

  .nav-text-container {
    @include flex(column, space-around, flex-start);
    height: 30%;
    margin: 0 20%;
    ul {
      li {
        list-style-type: none;
        margin: 15px 0;
        a {
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-size: 15px;
          padding: 5px;
          &.on-site {
            color: $hover-color;
            text-decoration: underline;
          }
          &:hover {
            color: $hover-color;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.active {
  transform: translateX(0%);
}

* {
  box-sizing: border-box;
}

main {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    input,
    select,
    textarea {
      font-size: 16px;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid rgb(109, 104, 104);
      margin: 3px 0 10px 0;
      box-shadow: $shadow;
    }
    input:focus-visible {
      border: 5px solid black;
    }
    #checkbox {
      margin: auto;
    }

    #form-submit-button {
      width: 40%;
      margin: auto;
      padding: 12px 0px;
      font-size: 18px;
      border: 1px solid rgb(109, 104, 104);
      border-radius: 3px;
      box-shadow: $shadow;
    }
  }
}

.footer {
  width: 100%;
  height: 30vh;
  background: $footer-color;
  position: relative;
  bottom: 0;
  @include flex(row, space-around, center);

  .footer-container {
    height: 50%;
    width: 100%;
    @include flex(column-reverse, space-around, center);
  }
  .social-media {
    width: 50%;
    height: 20%;
    @include flex(row, space-around, center);
    color: rgb(246, 247, 248);
    .box {
      font-size: 40px;
      &:hover {
        color: $hover-color;
      }
    }
  }

  .footer-nav {
    @include flex(column, space-around, center);
    height: 80%;

    ul {
      height: 100%;
      @include flex(row, space-around, flex-start);
      width: 95vw;
      li {
        list-style-type: none;
        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: $hover-color;
            text-decoration: underline;
          }
          &.on-site {
            color: white;
            box-shadow: $shadow;
            padding: 6px;

            color: $hover-color;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
