@charset "UTF-8";
/* BRÖDTEXT:  font-family: 'Poppins', sans-serif;
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
*/
.header .header-container {
  position: relative;
}

.header .header-container .object-pic {
  width: 100%;
  height: 100%;
  background-image: url(./../images/albins-bild.jpg);
  background-size: cover;
  background-position: bottom;
  position: absolute;
  z-index: 0;
}

body {
  background: rgba(252, 213, 142, 0.253);
}

.object-main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.object-main .object-article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.object-main .object-article-container .object-card {
  width: 100%;
  height: 350px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  margin: 15px 0;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.object-main .object-article-container .object-card .object-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.object-main .object-article-container .object-card .object-img img {
  width: 100%;
  position: absolute;
}

.object-main .object-article-container .object-card .object-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 20px 20px 20px;
  height: 50%;
  width: 80%;
}

.object-main .object-article-container .object-card .details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.object-main .object-article-container .object-card:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

@media screen and (min-width: 600px) {
  .object-main {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .object-main article.object-article-container {
    height: 50vh;
    width: 40vw;
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 200;
}

.subTitle {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 200;
}

.back-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(./../images/5733853.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.om-oss-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.om-oss-main .history-and-rolls .history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 15%;
  padding: 0 40px;
}

.om-oss-main .history-and-rolls .history .info-history {
  margin-bottom: 20px;
}

.om-oss-main .history-and-rolls .history h2 {
  margin-bottom: 15px;
}

.om-oss-main .rolls {
  font-size: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.om-oss-main .rolls .card {
  margin-bottom: 15%;
  position: relative;
}

.om-oss-main .rolls .card img {
  width: 350px;
  height: 420px;
  border-radius: 7px;
  -webkit-box-shadow: black;
          box-shadow: black;
}

.om-oss-main .rolls .card .info {
  width: 100%;
  height: 420px;
  display: none;
  background: black;
  opacity: 0.85;
  color: white;
  position: absolute;
  border-radius: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.om-oss-main .rolls .card:hover .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  cursor: pointer;
}

.om-oss-main .rolls .all-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7%;
}

.om-oss-main p {
  font-size: 15px;
}

.om-oss-main .mail {
  font-size: 15px;
}

.startpage article img {
  width: 100%;
  height: 300px;
}

@media (min-width: 800px) {
  .startpage article img {
    width: 35%;
  }
}

.start-header .header-container {
  width: 100%;
  height: 40vh;
}

.start-header .header-container .main-heading {
  position: absolute;
}

.start-header .header-container .start-header-pic {
  width: 100vw;
  height: 100vh;
  background-image: url(./../images/13480865.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.start-titel {
  text-align: center;
  margin: 20px 0;
}

.stad {
  font-weight: bold;
  margin-bottom: 15px;
}

.adress {
  font-weight: lighter;
  margin-bottom: 5px;
}

.storlek {
  font-weight: lighter;
  margin-bottom: 10px;
}

.start-objekt1,
.start-objekt2,
.start-objekt3,
.start-objekt4,
.start-objekt5,
.start-objekt6 {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .start-objekt1,
  .start-objekt2,
  .start-objekt3,
  .start-objekt4,
  .start-objekt5,
  .start-objekt6 {
    width: 35vww;
  }
}

.startpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.startpage .start-sektion1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.startpage .start-sektion1 img {
  width: 80%;
  height: 300px;
}

article .start-objekt1 {
  display: inline-block;
}

.header .main-heading {
  position: absolute;
}

.header .header-container .reference-img {
  width: 100%;
  height: 100%;
  background-image: url(./../images/123456.jpeg);
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .ref-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main .ref-main .ref-estate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .ref-main .ref-estate .ref-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2%;
}

main .ref-main .ref-estate .ref-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 350px;
  background: white;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
}

main .ref-main .ref-estate .ref-object:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

main .ref-main .ref-estate .ref-object .ref-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  overflow: hidden;
}

main .ref-main .ref-estate .ref-object img {
  height: 100%;
  width: 100%;
  position: absolute;
}

main .ref-main .ref-estate .ref-object .ref-text-containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 95%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px 20px 20px 20px;
}

main .ref-main .ref-estate .ref-object .ref-text-containter .ref-object-title {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.20rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main .ref-main .ref-estate .ref-object .ref-text-containter .ref-object-title:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

main .ref-main .ref-estate .ref-object .ref-text-containter .ref-object-adress {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main .ref-main .ref-estate .ref-object .ref-text-containter .ref-object-type {
  font-family: cursive;
}

main .ref-main .ref-estate .ref-object .ref-text-containter .ref-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  .ref-main {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ref-main .ref-object {
    height: 50vh;
    width: 40vw;
  }
}

.header .header-container .contact-header-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(./../images/robert-eklund-KBUGjUfOHec-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 0;
}

main {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

main #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #contact-form > * {
  padding: 3px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact-main {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

#contact-main #find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  display: inline-block;
}

#contact-main #find-us h2 {
  text-align: center;
  margin: 20px 0;
}

#contact-main #find-us div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-main #find-us p {
  font-size: 14px;
}

#contact-main #find-us p:first-of-type {
  width: 45%;
}

#contact-main #find-us p:last-of-type {
  text-align: right;
}

#contact-main #find-us img {
  width: 100%;
  margin-top: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-main #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#contact-main #contact-form input, #contact-main #contact-form select, #contact-main #contact-form textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #6d6868;
  margin: 3px 0 10px 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-main #contact-form input:focus-visible {
  border: 2px solid darkgray;
}

#contact-main #contact-form #form-submit-button {
  width: 40%;
  margin-bottom: 30px;
  padding: 12px 0px;
  font-size: 18px;
  border: 1px solid #6d6868;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 600px) {
  body {
    background-image: url(/images/test.jpg);
  }
  body #contact-main {
    margin: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body #contact-main #find-us {
    width: 50%;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #contact-main #find-us .textruta {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body #contact-main #find-us p:nth-of-type(1) {
    width: 150px;
    margin: auto;
  }
  body #contact-main #find-us p:nth-of-type(2) {
    margin: auto;
    text-align: left;
    padding: 20px 0;
  }
  body #contact-form {
    max-width: 450px;
  }
}

@media screen and (min-width: 600px) {
  header.header {
    width: 100%;
    height: 50vh;
    margin-bottom: 50px;
  }
  header.header .header-container .hamburger-container {
    display: none;
  }
  header.header .main-heading {
    color: white;
    z-index: 1;
  }
  header.header .nav-box {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  header.header .nav-box .nav-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 50px;
  }
  header.header .nav-box .nav-text-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header.header .nav-box .nav-text-container ul li a {
    font-family: sans-serif;
    padding: 10px;
  }
  .card {
    margin: 0 2%;
  }
  main {
    padding-top: 3em;
  }
  footer {
    margin-top: 2em;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;
  height: 50vh;
}

.header .header-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .header-container .dark-opacity {
  height: 100%;
  width: 100%;
  background: rgba(99, 75, 75, 0.329);
  position: absolute;
  z-index: 1;
}

.header .header-container .main-heading {
  color: white;
  z-index: 2;
}

.header .header-container .hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 40px;
  margin: 15px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

.header .header-container .hamburger-container .line1 {
  width: 100%;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 20px;
}

.header .header-container .hamburger-container .line1::before, .header .header-container .hamburger-container .line1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 20px;
}

.header .header-container .hamburger-container .line1::before {
  top: 25%;
}

.header .header-container .hamburger-container .line1::after {
  bottom: 25%;
}

.header .header-container .hamburger-container.activeBtn {
  z-index: 9999;
}

.header .header-container .hamburger-container.activeBtn .line1 {
  background: transparent;
}

.header .header-container .hamburger-container.activeBtn .line1::before {
  -webkit-transform: translateY(8.5px) rotate(45deg);
          transform: translateY(8.5px) rotate(45deg);
  background: black;
}

.header .header-container .hamburger-container.activeBtn .line1::after {
  -webkit-transform: translateY(-8.5px) rotate(-45deg);
          transform: translateY(-8.5px) rotate(-45deg);
  background: black;
}

.header .header-container .hamburger-container::after {
  bottom: 25%;
}

.header .header-container.activeBtn {
  z-index: 9999;
}

.header .header-container.activeBtn .line1 {
  background: transparent;
}

.header .header-container.activeBtn .line1::before {
  -webkit-transform: translateY(8.5px) rotate(45deg);
          transform: translateY(8.5px) rotate(45deg);
}

.header .header-container.activeBtn .line1::after {
  -webkit-transform: translateY(-8.5px) rotate(-45deg);
          transform: translateY(-8.5px) rotate(-45deg);
}

.main-heading {
  color: white;
  z-index: 1;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  background: white;
  inset: 0 0 0 40%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 5;
}

.nav-box .nav-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 30%;
  margin: 0 20%;
}

.nav-box .nav-text-container ul li {
  list-style-type: none;
  margin: 15px 0;
}

.nav-box .nav-text-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 5px;
}

.nav-box .nav-text-container ul li a.on-site {
  color: #a1a1a1;
  text-decoration: underline;
}

.nav-box .nav-text-container ul li a:hover {
  color: #a1a1a1;
  text-decoration: underline;
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

main form input,
main form select,
main form textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #6d6868;
  margin: 3px 0 10px 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main form input:focus-visible {
  border: 5px solid black;
}

main form #checkbox {
  margin: auto;
}

main form #form-submit-button {
  width: 40%;
  margin: auto;
  padding: 12px 0px;
  font-size: 18px;
  border: 1px solid #6d6868;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  width: 100%;
  height: 30vh;
  background: #222121;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social-media {
  width: 50%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6f7f8;
}

.footer .social-media .box {
  font-size: 40px;
}

.footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.footer .footer-nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 95vw;
}

.footer .footer-nav ul li {
  list-style-type: none;
}

.footer .footer-nav ul li a {
  color: white;
  text-decoration: none;
}

.footer .footer-nav ul li a:hover {
  color: #a1a1a1;
}

.footer .footer-nav ul li a.on-site {
  color: #a1a1a1;
}
/*# sourceMappingURL=style.css.map */